---
import HeroLayout from "../layouts/HeroLayout.astro";
import Nav from "../includes/Nav.astro";
---

<HeroLayout>
    <!-- Start Hero Navigation -->
    <div class="w-screen h-screen">
        <div
            class="absolute inset-0 bg-cover bg-center h-[64rem]"
            style="background-image: url('https://images.unsplash.com/photo-1604093882750-3ed498f3178b');"
        >
        </div>
        <div class="relative" id="relative">
            <header class="bg-white bg-opacity-30">
                <Nav />
            </header>
            <div class="relative">
                <div
                    class="px-2 mx-2 py-2 sm:mx-auto my-auto max-w-7xl md:max-h-2xl md:py-6 text-center mt-32 bg-white bg-opacity-50"
                >
                    <h1
                        class="text-4xl text-black md:text-5xl font-bold bg-white"
                    >
                        Lorem ipsum dolor sit amet consectetura dipisicing elit.
                    </h1>
                </div>
            </div>
        </div>
        <!-- End Hero Navigation -->
    </div>
</HeroLayout>
