---
import HeroLayout from "../layouts/HeroLayout.astro";
import Nav from "../includes/Nav.astro";
import SectionNav from "../components/SectionNav.astro";
import ImageGallerySimple from "../components/ImageGallerySimple.astro";

// import directus from "../lib/directus";
// import { readSingleton } from "@directus/sdk";
// const global = await directus.request(readSingleton("global"));
---

<HeroLayout>
    <!-- Start Hero Navigation -->
    <div class="w-screen h-[100vh]">
        <div
            class="absolute inset-0 bg-cover bg-center h-[100vh]"
            style="background-image: url('https://media.graphassets.com/35JD9fRUS0eflP9njiIF?_gl=1*1o0wva1*_ga*OTg2MjcwMjMyLjE3MDI0Njk3MzY.*_ga_G6FYGSYGZ4*MTcwOTAzNzExOS4zMC4xLjE3MDkwMzc0MzguMTUuMC4w');"
        >
        </div>
        <div class="relative" id="relative">
            <header class="bg-white bg-opacity-30">
                <!-- <Nav /> -->
                <Nav title="Toyosu Dining" />
            </header>
        </div>
        <div
            class="absolute bottom-24 lg:bottom-16 left-24 isolate px-6 pt-14 lg:px-8"
        >
            <div
                class="inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true"
            >
            </div>
            <div class="max-w-124 mx-auto p-6 lg:px-8 bottom-0">
                <div class="text-left">
                    <h1
                        class="text-6xl tracking-tight text-gray-100 sm:text-[6.5rem] font-[Raleway] font-black"
                    >
                        <!-- Dining. <br /> Redefined. -->
                        <div set:html={"Dining Redefined"} />
                    </h1>
                </div>
            </div>
        </div>
        <!-- End Hero Navigation -->
    </div>
    <SectionNav />
    <div class="grid grid-cols-2 gap-2 px-8">
        <ImageGallerySimple order="999" />
        <ImageGallerySimple flip="true" />
    </div>
</HeroLayout>
