---
const { order } = Astro.props;
---

<div class="max-w-124 w-full mx-auto py-4">
    <div class="grid grid-rows-1 h-full gap-y-2">
        <div class="" style=`order: ${order};`>
            <img
                class="w-full h-[32rem] object-cover"
                src="https://placehold.co/1280x720"
                alt="placeholder"
            />
        </div>
        <div class="grid grid-cols-2 gap-x-2">
            <img
                class="w-full object-cover h-[32rem]"
                src="https://placehold.co/400x600"
                alt=""
            />
            <img
                class="w-full object-cover h-[32rem]"
                src="https://placehold.co/400x600"
                alt=""
            />
        </div>
    </div>
</div>
