---

---

<header class="max-w-124 px-8">
    <nav
        class="mx-auto bg-gray-700 rounded-md mt-4 m-w-124 px-6 lg:px-8"
        aria-label="Top"
    >
        <div
            class="flex w-full items-center justify-start border-b border-indigo-500 py-6 lg:border-none"
        >
            <div class="flex items-center">
                <div class="hidden space-x-8 lg:block">
                    <a
                        href="#"
                        class="text-base px-16 py-4 font-medium text-white rounded-sm hover:bg-gray-300 hover:text-indigo-50"
                        >Gallery</a
                    >
                    <a
                        href="#"
                        class="text-base px-16 py-4 font-medium text-white rounded-sm hover:bg-gray-300 hover:text-indigo-50"
                        >Blogs</a
                    >
                </div>
            </div>
        </div>
    </nav>
</header>
